<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminMessageDao">
<!-- 查询所有留言 -->
	<select id="selectAllMessages"  resultType="Message" >
		select * from message 
	</select> 
<!-- 分页查询留言
	<select id="selectAllMessageByPage"  resultType="Message" parameterType="map">
		select * from message order by mid limit #{startIndex1}, #{perPageSize1}
	</select> -->
<!-- 根据名称/姓名/电话号码 查询留言 -->
	<select id="selectMessageByNameOrTel"  resultType="Message" parameterType="String">
		SELECT * FROM message WHERE tel =#{info} or sex=#{info} or name =#{info}
	</select>
<!-- 删除留言 -->
	<delete id="DeleteOneMessage" parameterType="Integer">
		delete from message where mid =#{id}
	</delete>
	
	
</mapper>